.styledInput {
  cursor: text;
  border: 1px solid #767676;
  white-space: pre;
  overflow-x: auto;
  width: 168px;
  caret-color: black;
}

.styledInput::-webkit-scrollbar {
  display: none;
}

.styledInput * {
  white-space: pre;
  display: inline-block;
}
